.galleryModal{
    background-color: rgba(28, 101, 140, 0.4);
}

.galleryModal img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border: none;
}