#titreInfoMusee{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #1C658C;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
#blocOFInfoMusee{
    display: flex;
    background: #1C658C;
    justify-content: center;
}
#OuvertInfoMusee{
    background-color:olivedrab;
}
.OFInfoMusee{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:15px;
    width: 80%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
#FermerInfoMusee{
    background-color:darkred;
}
#InfoInfoMusee{
    font-size: 1.3em;
    color: white;
    width: 90%;
    text-align: center;
}
#blocTitreInfoMusee{
    padding-top: 2%;
    padding-bottom: 2%;
}
#blocInfoInfoMusee{
    background-color:#1C658C;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: 13%
}